<!DOCTYPE html>
<html lang="en">

<head>

    <title>
        {% block title %}
        Cluster Status Checker
        {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">


    <!-- Add additional CSS in static file -->


</head>
<header>
    <div id="header" style="background-color: #208f64; color:#ffffff;" align="right">
        &nbsp;&nbsp;
        &nbsp;&nbsp;
    </div>
</header>

<body>
    <script>
        async function updateStatus() {
            console.log("FUNCTION ENTERED\n");
            var xmlhttp = new XMLHttpRequest();
            while (true) {
                xmlhttp.onreadystatechange = function() {
                
                    
                
                    if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                        /* nodesStatus = {
                            node1: "OK",
                            node2: "FAILED"
                        }
                        */
                    // if (true) {
                        nodesStatus = JSON.parse(xmlhttp.responseText)
                        document.getElementById("node1-status").innerHTML = (nodesStatus['node1']);
                        document.getElementById("node2-status").innerHTML = nodesStatus['node2'];

                        // document.getElementById("node1-status").innerText = "NODE1";
                        // document.getElementById("node2-status").innerText = "Node2";
                        // console.log("FUCK!");
                    }
                    // xmlhttp.open("GET", "status_info", true);
                    // xmlhttp.send();
                    // await new Promise(r => setTimeout(r, 1000));
                }
                xmlhttp.open("GET", "status_info", true);
                xmlhttp.send();
                await new Promise(r => setTimeout(r, 10000));
            }
            
        }
        // async function loadXMLDoc() {
        //   var xmlhttp;
        //   if (window.XMLHttpRequest) {
        //     //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
        //     xmlhttp=new XMLHttpRequest();
        //   } else {
        //     // IE6, IE5 浏览器执行代码
        //     xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        //   }
        //   xmlhttp.onreadystatechange=function() {
        //     if (xmlhttp.readyState==4 && xmlhttp.status==200) {
        //       document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
        //     }
        //   }
        //   xmlhttp.open("GET","/ajax_info",true);
        //   xmlhttp.send();
        //     for (var i = 0; i < 5; i++) {
        //         console.log("Hello, world");
        //         document.getElementById("myDiv").innerHTML = i.toString();
        //         await new Promise(r => setTimeout(r, 1000));
        //     }
        // }
        // loadXMLDoc();

        // function update_test() {

        // }
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
                <ul class="sidebar-nav">
                    <li><a href="/nodes">Nodes</a></li>
                    <li><a href="/tasks">Tasks</a></li>
                </ul>
            </div>
            <div class="col-sm-10 ">
                <div class="row">
                    <!-- <span class="rounded" style="background-color: #73dab2; box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">dsfasf</span> -->
                    <div class="col-sm-6" style="background-color: #73dab2; box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff; ">
                        <div class="row">
                            <div class="col-sm-12" style="background-color: #103b2b; color: rgb(170, 170, 117); box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">

                                <h3>Ubuntu Machine 0</h3>
                            </div>
                            <div class="col-sm-5">操作系统：</div>
                            <div class="col-sm-7">ubuntu</div>

                            <div class="col-sm-5">节点地址：</div>
                            <div class="col-sm-7", id="node1-ip">10.2.25.5</div>

                            <div class="col-sm-5">节点状态：</div>
                            <div class="col-sm-7", id="node1-status">Loading...</div>
                        </div>
                    </div>
                    <div class="col-sm-6" style="background-color: #73dab2; box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">
                        <div class="row">
                            <div class="col-sm-12" style="background-color: #103b2b; color: rgb(170, 170, 117); box-shadow: inset 1px -1px 1px #fff, inset -1px 1px 1px #fff;">

                                <h3>Ubuntu Machine 1</h3>
                            </div>
                            <div class="col-sm-5">操作系统：</div>
                            <div class="col-sm-7">ubuntu</div>

                            <div class="col-sm-5">节点地址：</div>
                            <div class="col-sm-7">10.2.25.41</div>

                            <div class="col-sm-5">节点状态：</div>
                            <div class="col-sm-7", id="node2-status">Loading...</div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <button type="button" class="btn btn-primary" onclick="updateStatus()">Start</button>

    </div>
</body>

</html>